@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


body{
    margin: 0;
    background-image: url(../img/introducao.png);
    background-repeat: no-repeat; /* Não repete a imagem */
    background-size: cover; /*Faz a imagem cobrir todo o fundo*/
    background-position: center; /* Centraliza a imagem */
    
    
     
}


.move{
    background-color: tomato;
    width: 100vw; 
    height: 100vh;
    display: flex; 
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */  
    z-index: -1;
    
}

.move>img{
    width: 500px;
    height: 500px;
}